.stroysa{
    max-width: 100%;
    padding: 0;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 88px;
    margin-left: -33.5px;
    &__title{
        position: absolute;
        font-family: "Montserrat";
        color: #79D9EE;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-top: 130px;
        text-decoration: none;
        margin-left: 21px;
    }
    &__img{
        display: block;
        margin-left: 16px;
    }
    &__label--name{
        position: absolute;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #79D9EE;
        margin-top: 190px;
        margin-left: -253px;
    }
    &__input--name{
        position: absolute;
        background: rgba(100, 163, 176, 0.2);
        border: 2.5px solid #243047;
        box-sizing: border-box;
        backdrop-filter: blur(15px);
        width: 335px;
        height: 50px;
        border-radius: 4px;
        margin-top: 26px;
        margin-left: -57px;
        padding-left: 16px;
        color: #79D9EE;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        &::placeholder{
            font-family: "Montserrat";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: rgba(100, 163, 176, 0.3)
        }
        &:focus{
            outline: none;
            border: 2.5px solid #64A3B0;
        }
    }
    &__label--password{
        position: absolute;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #79D9EE;
        margin-top: 290px;
        margin-left: -220px;
    }
    &__input--password{
        position: absolute;
        background: rgba(100, 163, 176, 0.2);
        border: 2.5px solid #243047;
        box-sizing: border-box;
        backdrop-filter: blur(15px);
        width: 335px;
        height: 50px;
        border-radius: 4px;
        margin-top: 27px;
        margin-left: -88px;
        padding-left: 16px;
        color: #79D9EE;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 20px;
        &::placeholder{
            font-family: "Montserrat";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: rgba(100, 163, 176, 0.3)
        }
        &:focus{
            outline: none;
            border: 2.5px solid #64A3B0;
        }
    }
    &__icon{
        position: absolute;
        margin-left: 210px;
        margin-top: 41px;
    }
    &__link{
        text-decoration: none;
        color: #F8F8F8;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        background: #64A3B0;
        box-shadow: 0px 6px 12px rgba(100, 163, 176, 0.3);
        border-radius: 4px;
        width: 187px;
        height: 35px;
        margin-left: 30px;
        padding-left: 148px;
        padding-top: 15px;
        position: absolute;
        margin-top: 400px;
    }
}



