.header{
    background: #243047;
    box-shadow: 0px 0px 30px #7097E5;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    &__list{
        display: flex;
        list-style-type: none;
        margin-top: 10px;
    }
    &__around{
        margin-left: -100px;
    }
    &__item{
        margin-right: 25px;
    }
    &__flex{
        display: flex;
        justify-content: space-around;
    }
    &__background{
        cursor: pointer;
        background: #F8F8F8;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        padding-top: 15px;
        padding-left: 13px;
    }
    &__link{
        position: absolute;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #79D9EE;
        text-decoration: none;
        margin-top: -47px;
        margin-left: 63px;
    }
    &__icon{
        cursor: pointer;
    }
}